
*{
    margin:0;padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
   font-size: 20px;
}


//every page-form layout
.layout {
    width: 100%;
    height: 100%;
    padding:30px 30px;
    .table {
      width: 100%;
      font-size: 15px;
      border-collapse: separate;
      border-spacing: 0px 20px;
    }
    .col-text{
      min-width: 60px;
      text-align: left;
    }
  
    .col-input{
      min-width: 180px;
      text-align: left;
    }
  
    .action{
      border-top: 1px solid #DFE0E3;
      width: 100%;
      padding: 20px 10px;
      display: flex;
      justify-content: flex-end;
    }
  
    /*分页区域*/
  .div-pagination {
    margin-top: 10px;
    width: 100%;
    position: relative;
    padding:15px 0px;
    overflow: hidden
  }
  /*右侧全行分页*/
  .div-pagination .div-right-pagination {
    display:inline-block;
    width:100%;
    text-align: right;
  } 
   
  }